@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Existing */

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Himalaya Gold */

  --color-maroon-950: #2D0F11;
  --color-orange-700: #9C310B;
  --color-orange-600: #BA3A0A;
  --color-cream-50: #FFFFF2;
  --color-brick-500: #F01F25;

  --font-sans: var(--font-montserrat);
  --font-display: var(--font-amita);

  --container-content: 1280px;
}

.bg-brand-gradient {
  background: linear-gradient(to top right,
      var(--color-maroon-950) 0%,
      var(--color-maroon-950) 30%,
      var(--color-orange-700) 72%,
      var(--color-orange-600) 100%);
}

.bg-header-gradient {
  background: linear-gradient(90deg, #b04326 0%, #8f2622 55%, #6e1b17 100%);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}